.root {
  
  .odd-section {
    padding: 20px;
    background-color: lavender;
  }

  .even-section {
    padding: 20px;
    background-color: #ccccff;
  }

  .second-section {
    display: flex;
    justify-content: space-between;
  }

  .export-button {
    width: fit-content;
    background-color: gainsboro;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    margin: 20px;
  }
}